<label>Search by Metro Area</label> 
<br/>

<select [(ngModel)]="selectedMetroArea" (change)="onSelect($event)">
	<option value="">Metro Area</option>
	<option [value]= "stringify(area)" *ngFor="let area of metroArea">{{area.MetroAreaDescription}}</option>
</select>

<br/>
<br/>

<select [(ngModel)]="selectedMetroNeighb">
	<option value="">Metro Neighbourhood</option>
	<option *ngFor="let neighb of metroNeighbourhood " [value]= "stringify(neighb)">{{neighb.Neighborhood}}</option>
</select>

<br/>
<br/>
<button (click)="searchInspector()">Search</button>