<label>Search by Metro Area</label> 
<br/>
<select [(ngModel)]="selectedMetroArea">
<option value="">Metro Area</option>
<option *ngFor="let area of metroArea"
        value= {{area.name}}>{{area.name}}
</option>
</select>
<br/>
<br/>
<select [(ngModel)]="selectedMetroNeighb">
<option value="">Metro Neighbourhood</option>
<option *ngFor="let neighb of metroNeighbourhood "
      value= {{neighb.name}}>{{neighb.name}}
</option>
</select>

<br/>
<br/>
<button (click)="searchInspector()">Search</button>